{% extends 'core/base.html' %}
{% block title %}
   Edit Blog
{% endblock title %}
{% block content %}
<h1 style="text-align: center;"> Blog App</h1>
<hr style="border:solid;">
<h3 style="text-align: center;">Edit Blog</h3>
<hr style="border: solid;">

<div>
    <form method="POST">
        {% csrf_token %}
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" , value="{{dataset.title}}">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description", value="{{dataset.content}}">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>
        <a href="{% url 'home' %}">
          <button type="Cancel" class="btn btn-primary">Cancel</button>
        </a>

</div>


{% endblock content %}